In [25]:
import requests
import pandas as pd
import json

In [26]:
url = "http://localhost:8000/sensors/?skip=0&limit=1000"

In [27]:
data = requests.get(url)

In [30]:
d = data.json()

In [31]:
# IS THIS ONLY RETURNING THE FIRST MEASUREMENT TYPE?
pd.json_normalize(d)

,name,description,measurement_type_id,id,outputs
0,dht22_1,sensor used to test db,1,2,"[{'value': 25.0, 'sensor_id': 2, 'measurement_..."
1,dht22_1,sensor used to test db,2,3,"[{'value': 24.0, 'sensor_id': 3, 'measurement_..."

In [38]:
for i in d:
    print(i["name"])

dht22_1
dht22_1

In [35]:
d[0]

{'name': 'dht22_1',
 'description': 'sensor used to test db',
 'measurement_type_id': 1,
 'id': 2,
 'outputs': [{'value': 25.0,
   'sensor_id': 2,
   'measurement_type_id': 1,
   'date_measured': '2023-10-08',
   'hour_measured': 395,
   'id': 1},
  {'value': 90.0,
   'sensor_id': 2,
   'measurement_type_id': 1,
   'date_measured': '2023-10-08',
   'hour_measured': 395,
   'id': 3},
  {'value': 77.0,
   'sensor_id': 2,
   'measurement_type_id': 1,
   'date_measured': '2023-10-08',
   'hour_measured': 395,
   'id': 5},
  {'value': 12.0,
   'sensor_id': 2,
   'measurement_type_id': 1,
   'date_measured': '2023-10-08',
   'hour_measured': 395,
   'id': 7},
  {'value': 75.0,
   'sensor_id': 2,
   'measurement_type_id': 1,
   'date_measured': '2023-10-08',
   'hour_measured': 395,
   'id': 9},
  {'value': 27.0,
   'sensor_id': 2,
   'measurement_type_id': 1,
   'date_measured': '2023-10-08',
   'hour_measured': 396,
   'id': 11},
  {'value': 7.0,
   'sensor_id': 2,
   'measurement_type_id': 1,
   'date_measured': '2023-10-08',
   'hour_measured': 396,
   'id': 13},
  {'value': 7.0,
   'sensor_id': 2,
   'measurement_type_id': 1,
   'date_measured': '2023-10-08',
   'hour_measured': 396,
   'id': 15},
  {'value': 95.0,
   'sensor_id': 2,
   'measurement_type_id': 1,
   'date_measured': '2023-10-08',
   'hour_measured': 396,
   'id': 17},
  {'value': 3.0,
   'sensor_id': 2,
   'measurement_type_id': 1,
   'date_measured': '2023-10-08',
   'hour_measured': 396,
   'id': 19}]}