In [8]:
import requests
import pandas as pd
import json
import sensor_app_ui.data_utils as du

In [12]:
df = du.get_sensor_outputs(1)

In [10]:
# df["date_measured"] = pd.to_datetime(df["date_measured"])

In [14]:
df.set_index("date_measured")

                     value  sensor_id  measurement_type_id  id
date_measured
2023-10-11 19:51:49   49.0          1                    1   1
2023-10-11 19:51:49   41.0          1                    2   2
2023-10-11 19:51:53    6.0          1                    1   3
2023-10-11 19:51:53   29.0          1                    2   4
2023-10-11 19:51:57   82.0          1                    1   5
2023-10-11 19:51:57   34.0          1                    2   6
2023-10-11 19:52:01   39.0          1                    1   7
2023-10-11 19:52:01   23.0          1                    2   8
2023-10-11 19:52:05    3.0          1                    1   9
2023-10-11 19:52:05   58.0          1                    2  10
2023-10-11 19:52:09   73.0          1                    1  11
2023-10-11 19:52:09   22.0          1                    2  12
2023-10-11 19:52:13    3.0          1                    1  13
2023-10-11 19:52:13   69.0          1                    2  14
2023-10-11 19:52:17    3.0          1                    1  15
2023-10-11 19:52:17   68.0          1                    2  16
2023-10-11 19:52:21    5.0          1                    1  17
2023-10-11 19:52:21   25.0          1                    2  18
2023-10-11 19:52:25   95.0          1                    1  19
2023-10-11 19:52:25   15.0          1                    2  20

In [15]:
url = f"http://localhost:8000/sensors/?skip=0&limit=100"

In [16]:
sensors = requests.get(url).json()

In [18]:
pd.DataFrame(sensors)

,name,description,id,measurement_types,outputs
0,DHT22,Temperature and Humidity sensor,1,"[{'name': 'Temperature', 'description': 'Tempe...","[{'value': 49.0, 'sensor_id': 1, 'measurement_..."

In [35]:
[i['name'] for i in sensors]

['DHT22']

:

In [9]:
sensor = 1
url = f"http://localhost:8000/sensor/{sensor}/output"

In [10]:
data = requests.get(url)

In [11]:
d = data.json()

In [12]:
pd.DataFrame(d)

    value  sensor_id  measurement_type_id date_measured  hour_measured  id
0    88.0          1                    1    2023-10-10           1185  12
1    98.0          1                    2    2023-10-10           1185  13
2    83.0          1                    1    2023-10-10           1185  14
3    94.0          1                    2    2023-10-10           1185  15
4    50.0          1                    1    2023-10-10           1185  16
5    40.0          1                    2    2023-10-10           1185  17
6    69.0          1                    1    2023-10-10           1185  18
7    82.0          1                    2    2023-10-10           1185  19
8     2.0          1                    1    2023-10-10           1185  20
9    87.0          1                    2    2023-10-10           1185  21
10   62.0          1                    1    2023-10-10           1185  22
11   57.0          1                    2    2023-10-10           1185  23
12   95.0          1                    1    2023-10-10           1185  24
13   42.0          1                    2    2023-10-10           1185  25
14   78.0          1                    1    2023-10-10           1185  26
15   56.0          1                    2    2023-10-10           1185  27
16   18.0          1                    1    2023-10-10           1185  28
17   53.0          1                    2    2023-10-10           1185  29
18   47.0          1                    1    2023-10-10           1185  30
19   87.0          1                    2    2023-10-10           1185  31